.button-style {
    padding: 12px 26px;
    border: none;
    border-radius: 5px;
    
    background: linear-gradient(to right, #fa16dc, #9205a2);
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.button-style:hover {
    background: linear-gradient(to right, #9205a2, #9205a2);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}


